body {
    border: red solid 2px;

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    flex: 1 0 400px;
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 150px;
}

/* Left half of header */

.h-container-1, .h-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}


header .hero, .logo {
    color: #f9faf8;
}

.desc {
    color: #e5e7eb;
    width: 400px;
    margin-top: 12px;
}
.button {
    background-color: #3882f6;
    color: #f9faf8;
    display: inline-block;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 12px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    width: 350px;
}

.eye-catcher {    
    height: 250px;
    justify-content: flex-start;
}


/* Right half of header */

.h-container-2 {
    align-items: flex-end;
    
}

ul {
    direction: ltr;
    list-style: none;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin: 0;
    width: 550px;

}

li {
    margin-left: 24px;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
}

a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

.placeholder {
    display: flex;
    background-color: rgb(109, 116, 125);
    width: 550px;
    height: 250px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

/* Information section */
.upper {
    border: red solid 2px;
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-1 {

    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 36px;
}

.info {
    display: flex;
    flex: 1;
    align-self: center;
    width: 900px;
    justify-content: space-around;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
    width: 200px;
    text-align: center;
    flex-grow: 0;
}

.box {
    border: #3882f6 solid 4px;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 6px;
}

.info-text {
    height: auto;
    width: 150px;
    align-self: center;
}

/* Quote */
.quote {
    border: red solid 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Call to action */
.cta {
    border: red solid 2px;

    display: flex;
}

/* Footer */
.footer {
    border: red solid 2px;

    display: flex;
}